@model IndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Учебная нагрузка</h2>

<table class="table">
    <thead>
        <tr>

            <th>
                Кафедра
            </th>
            <th>
                Наименование специальности
            </th>
            <th>
                Семестр
            </th>
            <th>
                Часы
            </th>
            <th>
                Курс
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.StadyLoads)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NamePulpit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameSpetiality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Semestr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountHour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course)
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-default btn">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}


