@using University.Models
@model IndexViewModel

@{
    ViewData["Title"] = "Главная";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Специальности</h2>
<form method="get">
    <div class="form-horizontal form-group">
        <label class="control-label">Назание специальности: </label>
        @Html.TextBox("nameSpecialty", Model.FiltrViewModel.NameSpecialty, htmlAttributes: new { @class = "form-control" })

        <label class="control-label">Курс: </label>
        @Html.TextBox("course", Model.FiltrViewModel.Course, htmlAttributes: new { @class = "form-control" })

        <label class="control-label">Семестр: </label>
        @Html.TextBox("semester", Model.FiltrViewModel.Semester, htmlAttributes: new { @class = "form-control" })

        
        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>

<p>
    <a asp-action="Create">Добавить запись</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Наименование специальности
                </th>
                <th>
                    Курс
                </th>
                <th>
                  Семестр
                </th>
            <th>
                Кафедра
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Specialties) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameSpecialty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pulpit.NamePulpit)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SpecialtyID">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.SpecialtyID">Подробно</a> |
                <a asp-action="Delete" asp-route-id="@item.SpecialtyID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       asp-route-NameSpecialty="@(Model.FiltrViewModel.NameSpecialty)"
       asp-route-Course="@(Model.FiltrViewModel.Course)"
       asp-route-Semester="@(Model.FiltrViewModel.Semester)"

       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       asp-route-NameSpecialty="@(Model.FiltrViewModel.NameSpecialty)"
       asp-route-Course="@(Model.FiltrViewModel.Course)"
       asp-route-Semester="@(Model.FiltrViewModel.Semester)"
       class="btn btn-default btn">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}

